.container{
    width: 90%;
    margin: auto;
    display: flex;
}
.left{
    width: 30%;
    box-shadow: 10px 15px 10px #ccc;
    padding: 10px;
}
img{
    width: 100%;
    height: auto;
}
.right{
    width: 65%;
    box-shadow: 10px 15px 10px #ccc;
    padding: 50px;
    box-sizing: border-box;
}
